<h1>set schedule</h1>
<%= form_tag create_schedule_admin_tournaments_path, method: :post do %>
<p>tournament: <%= @tournament.name %></p>
<p>week: <%= select_tag :week, options_for_select(1..5) %></p>
<p>date: <%= select_date Date.today, prefix: :match_date %></p>
<% end %>

