<% @membership.each do |member| %> 
  <tr>
    <td><%= link_to member.user.username, user_path(member.user) %></td>
    <td><%= "#{member.role }" %></td>
    <% if member.active == true %>
      <td>Active</td>
    <% else %>
      <td>Pending</td>
    <% end %>
<!--Checking to see if the current user is a team owner and the member in question is not an owner, that is to say you cant remove or approve an owner-->
    <% if user_signed_in? and current_user.is_team_owner?(@team) && member.role != 'owner' %>
      <% if member.active == false %>
      <td>
        <%= button_to 'Approve', membership_path(:user_id => member.user.id, :team_id => @team.id,:active => true), :method => 'put' %>
      </td>
      <% end %>
      <td>
        <%= button_to 'Remove', membership_path(:user_id => member.user.id, :team_id => @team.id), :method => 'delete' %>
      </td>
    <% else %>
      <td></td>
      <td></td>
    <% end %>
  </tr>
<% end %>
