<% if user_signed_in? %>
    <%= link_to "Create a Team", new_team_path, :class => "btn btn-primary create-team-btn" %>
<% end %>

<table class="table">
  <tr>
    <th>Team Name</th>
    <th>Team Tag</th>
  </tr>
  <% @team.each do |team| %>
    <tr>
      <td>
        <%= link_to team.name, team_path(team) %>
      </td>
      <td>
        <%= team.tag %>
      </td>
    </tr>
  <% end %>
</table>
