<div class="loading" style="height:100%; width:100%; background:#404040; opacity:.5">
	<div><div id="floatingCirclesG" class="center"><div class="f_circleG" id="frotateG_01"></div>
	<div class="f_circleG" id="frotateG_02"></div>
	<div class="f_circleG" id="frotateG_03"></div>
	<div class="f_circleG" id="frotateG_04"></div>
	<div class="f_circleG" id="frotateG_05"></div>
	<div class="f_circleG" id="frotateG_06"></div>
	<div class="f_circleG" id="frotateG_07"></div>
<div class="f_circleG" id="frotateG_08"></div></div></div>