	<tr>
		<td>{0}</td>
		<td>{1}</td>
		<td>{2}</td>
		<td>{3}</td>
		<td>{4}</td>
		<td><a href="<%= CGI::unescape(tournament_match_path("{5}", "{6}")) %>"> View</a>
				<a class="editmatches" id="{7}" href="javascript:void(0);"> Edit</a>
				<a class="destroymatches" id="{8}" href="javascript:void(0);"> Destroy</a></td>
	</tr>