	<tr>
		<td><a href="<%= CGI::unescape team_path("{0}") %>">{1}</a></td>
		<td>{2}</td>
		<td>{3}</td>
		<td>
			<a href="javascript:void(0);" class="editteams" id="{4}">Edit</a>
			<a href="javascript:void(0);" class="editrosters" id="{5}">Roster</a>
			<a href="javascript:void(0);" class="editteamstournaments" id="{6}">Tournaments</a>
		</td>
	</tr>