	<div class="tournament" id="{0}">
		<a class="tournament-name" href="<%= CGI::unescape(tournament_path("{1}")) %>">{2}</a><br />
		<div class="faded">{3} / {4}</div>
		<a href="javascript:void(0);" class="viewmatches" id="{5}"> Matches</a>
		<a href="javascript:void(0);" class="edittournaments" id="{6}"> Edit</a>
		<a href="javascript:void(0);" class="destroytournaments" id="{7}"> Destroy</a>
		<a href="javascript:void(0);" class="schedulematches" id="{8}"> Schedule</a>
	</div>