<div class="content-inner">
  <h1>match screenshots</h1>

  <div id="match-screenshots">
    <% unless @match.match_screenshots.nil? %>
      <% @match.match_screenshots.each do |ss| %>
        <%= link_to ss.image_identifier, ss.image.url.to_s %>
      <% end %>
    <% end %>
  </div>

  <%= form_for @screenshot, url: match_screenshots_path(@screenshot, match_id: @match.id), method: :post do |s| %>
    <%= s.file_field :image, multiple: true, name: "match_screenshot[image]" %>
  <% end %>
</div>
