<h1>tournaments</h1>
<% if user_signed_in? && current_user.has_role?(:admin) %>
      <%= link_to "Create Tournament", new_tournament_path, :class => "btn btn-primary create-tournament-btn" %>
<% end %>
<table class="table">
  <tr>
    <th>Tournament</th>
    <th>Description</th>
  </tr>
  <% @tournament.each do |tournament| %>
    <tr>
      <td>
        <%= link_to tournament.name, tournament_path(tournament) %>
      </td>
      <td>
        <%= tournament.description %>
      </td>
    </tr>
  <% end %>
</table>

