<h1>home</h1>
<div class="content-inner">
	<span class="outer-heading">Welcome to FTWGL.</span><p />
	<div class="content-inner">
		<% if user_signed_in? %>
			<%= render 'home_signed_in' %>
		<% else %>
			<%= render 'home_signed_out' %>
		<% end %>
	</div>
</div>
