<h1>members</h1>
<div class="content-inner">
<table class="center" cellspacing="0">
  <tr>
    <th>Username</th>
		<th>Teams</th>
    <th>Joined</th>
  </tr>
  <% @user.each do |user| %>
    <tr>
      <td>
        <%= link_to user.username, user_path(user) %>
      </td>
      <td>
				<% if user.teams.any? %>
					<% teams = [] %>
					<% user.teams.each do |team| %>
						<% teams << link_to(team.name, team_path(team)) %>
					<% end %>
					<%= teams.join(", ").html_safe %>
				<% else %>
					<span class="faded">None</span>
				<% end %>
      </td>
			<td>
				<%= user.created_at.strftime("%B %d, %Y") %>
			</td>
    </tr>
  <% end %>
</table>
</div>