<div class="container">
  <h1>Match Results</h1>
  <%= simple_form_for([@tournament, @match], :html => { :class => "form-horizontal"} ) do |f| %>
    <%= f.input :home_score, label: "Home Team Score" %>
    <%= f.input :away_score, label: "Away Team Score" %>
    <%= f.submit "Save Results" %>
  <% end %>
</div>
