body{
	background:#222222;
	color:#f6f6f6;
	font-family: Calibri, Tahoma;
	font-size:18px;
}
.center{
	margin-left:auto;
	margin-right:auto;
}
input{
	background:#f6f6f6;
	border:solid 1px #ccc;
	height:20px;
	width:250px;
	font-size:18px;
	font-family: Calibri, Tahoma;
}
input[type=checkbox]{
	width:auto;
	border:none;
}
input[type=submit]{
	height:auto;
	width:auto;
	border:none;
	background:#767676;
	padding:5px;
	color:white;
}
input[type=submit]:hover{
	background:#888888;
}
.button{
	background:#767676;
	color:white;
	border:none;
	padding:5px;
}
.button:hover{
	background:#999;
}

.body-container{
	width:1172px;
}

a{
	text-decoration:none;
	color:#db7700;
}

a:hover{
	color:#fb8800;
}

.nav{
	list-style-type:none;
	font-size:24px;
	width:100%;
	margin:0 0 0 30px;
}

.nav li {
	width:150px;
	display:inline-block;
}

.nav_link {
	color:#ddd;
	text-decoration:none;
}

.nav_link:hover{
	color:#fff;
}

.selected {
	color:#db7700;
}

.content-main{
	width:800px;
	float:left;
}

.content-outer{
	background:#373737;
	margin:20px 0 0 30px;
	color:#f6f6f6;
	padding:10px;
}

.content-outer h1{
	margin:0;
	font-weight:100;
	font-size:36px;
	border-bottom:1px solid white;
}

.content-inner{
	padding:5px;
}

.content-side{
	float:left;
	width:250px;
}
