body{
	background:#222222;
	color:#f6f6f6;
	font-family: Calibri, Tahoma;
	font-size:18px;
}
table {
	border-spacing: 0px;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

table th, table td{
	padding: 5px;
}

.center{
	margin-left:auto;
	margin-right:auto;
}

.hide {
	display: none;
}

input{
	background:#f6f6f6;
	border:solid 1px #ccc;
	height:20px;
	width:245px;
	font-size:18px;
	font-family: Calibri, Tahoma;
}
input[type=checkbox]{
	width:auto;
	border:none;
}
input[type=submit]{
	height:auto;
	width:auto;
	border:none;
	background:#cc5500;
	padding:5px;
	color:white;
	margin-top:10px;
	cursor:pointer;
}
input[type=submit]:hover{
	background:#dd8800;
}

.button{
	background:#cc5500;
	color:white;
	border:none;
	padding:5px;
	margin:10px 0 10px 0;
	display:table;
}
.button:hover{
	background:#dd8800;
	color:white;
}

.faded {
	opacity:.5;
}

.body-container{
	width:100%;
	max-width: 1280px;
	padding: 40px;
}

a{
	text-decoration:none;
	color:#fb8800;
}

a:hover{
	color:#ff9900;
}

th{
	background-color: #cc5500;
	padding:3px;
	font-weight:200;
}
td{
	background-color: #404040;
	padding:3px;
}

.nav{
	list-style-type:none;
	font-size:24px;
	width:100%;
	margin-top:0;
	overflow:hidden;
	padding:0;
}

.nav li {
	display:inline-block;
	margin-right:50px;
}

.nav_link {
	color:#ddd;
	text-decoration:none;
	font-weight:100;
}

.nav_link:hover{
	color:#fff;
}

.selected {
	color:#fb8800;
}

.selected:hover{
	color:#fb8800;
}

#content-main{
	width: 80%;
	width: calc(100% - 20em);
	min-width: 16.666%;
	min-width: calc(17.5em);
	float: left;
}

#content-side{
	width: 16.666%;
	width: calc(17.5em);
	float: right;
}

.content-outer{
	width: 100%;
	background:#373737;
	color:#f6f6f6;
	padding:5px;
	margin:5px;
}

.content-outer h1 {
	position: relative;
	top: -10px;
	left: -10px;
	padding: 5px;
	display: table;
	margin: 0;
	font-weight: 100;
	font-size: 20px;
	background-color: #cc5500;
}

.content-outer h1 a{
	color:#f6f6f6;
}

.content-inner{
	padding:5px;
}

.content-inner-inner{
	background-color: #404040;
	padding:5px;
	margin-bottom:15px;
}

.content-inner-inner td {
	background:#484848;
}

.content-inner-inner-inner{
	background:#484848;
	padding:5px;
	position:relative;
}

.content-inner-inner-inner td{
	background:#535353;
}

.important{
	font-weight:bold;
}

.pagination {
	margin-top: 10px;
}

.search-form {
	margin-bottom: 10px;
}

.tournament-name{
	font-size:36px;
	font-weight:100;
}

.flash{
	text-align:center;
}

.week-button{
	margin: 0 5px 0 5px;
	color: #999;
}

.week-button:hover{
	color:#ccc;
}

.week-button-selected{
	font-weight:bold;
	color:white;
}

.week-button-selected:hover{
	color:white;
}

.week-label{
	background:#cc5500;
}

.weeks{
	position:relative;
	top:-5px;
	left:-5px;
	background:#565656;
	display:table;
	margin-bottom:5px;
}

.clear{
	clear:both;
}

.right {
	float: right;
}

.left {
	float: left;
}

.half {
	width: 48%;
	margin-right: 1%;
	display: inline-block;
	vertical-align: top;
}

.spacer{
	clear:both;
	height:10px;
}

.outer-heading{
	font-size:24px;
}

.headline {
	padding: 5px;
	margin: 0;
	font-weight: 900;
	font-size: 30px;
	color: #cc5500;
}

.news-subline {
	padding-left: 5px;
}

#challongeBracket {
	width: 100%;
	height: 525px;
}

.bracket_match {
	text-decoration: none;
}

.bracket_match li {
	display: inline-block;
	text-align: center;
	width: 30%;
}

#bracket_size {
	margin-left: 10px;
	width: 75px;
}

.ui-dialog-titlebar {
	display:none
}

.ui-dialog .ui-dialog-content, .ui-widget-content {
	background:#373737 !important;
	color:#f6f6f6 !important;
}

.ui-widget-content h1{
	background-color: #cc5500;
}

// Home Page
.quick-links ul {
	list-style: none;
	padding-left: 0px;
}

.quick-links ul li {
	display: inline-block;
	width: 48%;
	vertical-align: top;
}

// Users

.users-table td {
	width: 33%;
}

.user-profile div dl {
	display: inline-block;
	width: 98%;
}

.user-info .profile-avatar {
	float: left;
	margin-right: 20px;
}

.user-profile .user-info dl {
	display: block;
	margin-left: 148px;
}

.user-profile .comments {
	width: 90%;
}

.user-profile .comments-inner a {
	margin-top: -10px;
}

#user-profile-change-password, #user-change-password {
	padding-top: 25px;
}
// Teams

.teams-table td {
}

.team-profile .team-avatar {
	max-width: 90%;
	max-height: 256px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.team-profile .team-avatar img {
	display: block;
	max-width: 100%;
	max-height: 256px;
	margin:0 auto;
}

// Comments

.comments{
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
	word-wrap:break-word;
}

.comment {
	min-height: 60px;
	margin-bottom: 10px;
}

.comments textarea {
	width: 95%;
	height: 100px;
}

.comments-inner {
	padding-bottom: 10px;
}

.comments-info div {
	float: right;
}

.comments-image {
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}

// Admin CP

#admin_panel .ui-accordion-header {
	margin-top: 10px;
}

#admin_panel .ui-widget-content {
	border: 0px;
}

#admin_panel .ui-widget-content table a {
	color: #fb8800;
}

#admin_panel .ui-widget-content .button {
	color: white;
}

#admin_panel .ui-accordion-content {
	padding: 10px;
}

#admin_panel button {
	font-size: 14px;
}

#admin_panel .search-form .button, #admin_panel .search-form input {
	float: left;
}

#admin_panel .search-form input {
	margin-top: 15px;
}

#admin_panel .search-form .button {
	margin-left: 10px;
}

.management li {
	display: inline-block;
	list-style: none;
	padding: 5px;
	border: 1px solid #fb8800;
	color: white;
}

.management a {
	color: white !important;
}

.management a:hover {
	color: #fb8800;
	font-size: 24px;
	text-decoration: underline;
}

.select2-container-multi .select2-choices .select2-search-field input {
	min-width: 100px;
}

// Tournaments

.tournament-teams-list {
	width: auto !important;
	text-align: left !important;
	max-width: 18%;
	padding: 10px;
}

.tournament-teams-list a, .tournament-teams-list img {
	vertical-align: middle;
}
