body{
	background:#222222;
	color:#f6f6f6;
	font-family: Calibri, Tahoma;
	font-size:18px;
}
.center{
	margin-left:auto;
	margin-right:auto;
}
input{
	background:#f6f6f6;
	border:solid 1px #ccc;
	height:20px;
	width:250px;
	font-size:18px;
	font-family: Calibri, Tahoma;
}
input[type=checkbox]{
	width:auto;
	border:none;
}
input[type=submit]{
	height:auto;
	width:auto;
	border:none;
	background:#cc5500;
	padding:5px;
	color:white;
}
input[type=submit]:hover{
	background:#dd8800;
}
.button{
	background:#cc5500;
	color:white;
	border:none;
	padding:5px;
}
.button:hover{
	background:#ff9900;
}

.body-container{
	width:1172px;
}

a{
	text-decoration:none;
	color:#fb8800;
}

a:hover{
	color:#ff9900;
}

.nav{
	list-style-type:none;
	font-size:24px;
	width:100%;
	margin:0 0 0 30px;
}

.nav li {
	width:150px;
	display:inline-block;
}

.nav_link {
	color:#ddd;
	text-decoration:none;
}

.nav_link:hover{
	color:#fff;
}

.selected {
	color:#fb8800;
}

.selected:hover{
	color:#fb8800;
}

#content-main{
	width:800px;
	float:left;
	margin:20px 0 0 30px;
}

.content-outer{
	background:#373737;
	color:#f6f6f6;
	padding:5px;
}

.content-outer h1 {
position: relative;
top: -10px;
left: -10px;
padding: 5px;
display: table;
margin: 0;
font-weight: 100;
font-size: 20px;
background-color: #cc5500;
}

.content-inner{
	padding:5px;
}

#content-side{
	float:left;
	width:275px;
	margin:20px 0 0 30px;
}
