.hero-unit {
  padding: 50px 0 40px;
}

.home {
  background-color: #F6F6F6;
  border-radius: 4px;
}

.join-team {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.tournaments-list {
  border-top: 1px solid;
  border-bottom: 1px solid;
}