body {
  background-color: #222222;
  color: #E87E00;
}

.navbar .nav > li > a {
  color: #E87E00;
  font-size: 16px;
  text-shadow: 0 0.5px 0 #A60000;
  transition: all 0.3s linear 0s;
}

.dropdown-menu > li > a {
  color: #E87E00;
  font-size: 16px;
  text-shadow: 0 0.5px 0 #A60000;
}

.top-banner .hero-unit {
  margin: 0px;
  padding: 0px;
  background-color: #222222
}

.notice {
  background-color: transparent;
  color: #E87E00;
}

.alert {
  background-color: transparent;
  border: 0px;
}

h1 {
  text-shadow: 0 0.5px 0 #A60000;
}

.btn-primary {
  background-color: #E87E00;
  background-image: linear-gradient(to bottom, #E87E00, #F3A03D); 

  &:hover {
    background-color: #F3A03D;
  }
}

.side-bar-tournament {
  border-bottom: 5px;
}