<div class="comments-inner">
	<div>
		<span class="important"><%= link_to comment.user.username, user_path(comment.user) %></span>
		<div style="float:right;" class="faded">
			<%= comment.updated_at %>
		</div>
	</div>
	<div>
		<%= comment.content %>
	</div>
</div>
