<div class="quick-links center">
	<ul>
		<li>
			<table>
				<thead>
					<tr>
						<th>your tournaments</th>
					</tr>
				</thead>
				<tbody>
					<% if @tournaments.nil? %>
					<% @tournaments.each do |tournament| %>
					<tr>
						<td><%= link_to tournament.name, tournament_path(tournament) %></td>
					</tr>
					<% end %>
					<% else %>
					<tr>
						<td>You aren't participating in any active tournaments</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</li>

		<li>
			<table>
				<thead>
					<tr>
						<th>your teams</th>
					</tr>
				</thead>
				<tbody>
					<% if @teams.nil? %>
					<% @teams.each do |team| %>
					<tr>
						<td><%= link_to team.name + " " + team.tag, team_path(team) %></td>
					</tr>
					<% end %>
					<% else %>
					<tr>
						<td>
							<%= link_to "create new team", new_team_path %> or
							<%= link_to "join an exisiting team", teams_path %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</li>
	</ul>
</div>
