<h1><%= @news.headline %></h1>
<p style="font-size:10px">Created at <%= @news.created_at %> by <%= @news.user.username %></p>
<div class="content-inner">
  <div class="content-inner-inner">
    <p><%=raw @news.content %></p>
  </div>
</div>

