<h1>edit team profile</h1>
<div class="content-inner">
  <div class="half">
    <div class="content-inner-inner">
    	<h1>team info</h1>
      <%= render 'team_form' %>
    </div>
  </div>
  <div class="half">
  	<h1>roster</h1>
    <%= render 'team_roster_values' %>
  </div>
</div>
