<h1>edit team profile</h1>
<div class="content-inner">
  <div style="float:right;width:50%">
    <%= render 'team_roster_values' %>
  </div>
  <div class="float:right;height:100%;width:50%">
    <div class="content-inner-inner">
      <%= render 'team_edit_form' %>
    </div>
  </div>
</div>
