<%= simple_form_for(@tournament_team) do |f| %>
	<div style="display:inline-block;padding:10px;">
		<%= f.input :team, collection: @current_user_teams, as: :select, :default => 1, :label => "Team"%>
		<%= f.input :tournament, as: :hidden, :input_html => { :value => @tournament.id } %>
	</div>
	<div style="display:inline-block;">
	 <%= f.submit "Join tournament", :id => "JoinTournament" %>
	</div>
<% end %>
