<div id="news_panel">
  <%= render 'admincp_manage_news' %>
</div>

<div id="tournaments_panel">
  <%= render 'admincp_manage_tournaments' %>
</div>

<div id="users_panel">
  <%= render 'admincp_manage_users' %>
</div>

<div id="teams_panel">
  <%= render 'admincp_manage_teams' %>
</div>