<h1>admin</h1>
<div class="content-inner">

    <div id="news_panel">
      <%= render 'admincp_manage_news' %>
    </div>

    <div id="tournaments_panel">
      <%= render 'admincp_manage_tournaments' %>
    </div>

    <% if @user.has_role?(:admin) %>
      <div id="users_panel">
        <%= render 'admincp_manage_users' %>
      </div>
    <% end %>

    <div id="teams_panel">
      <%= render 'admincp_manage_teams' %>
    </div>
  </div>
</div>

