<div id="admin_panel" class="content-inner">
<h1>admin</h1>

    <h3>manage news</h3>
    <div id="news_panel" class="collapse-header">
      <%= render 'admincp_manage_news' %>
    </div>

    <h3>manage tournaments</h3>
    <div id="tournaments_panel" class="collapse-header">
      <%= render 'admincp_manage_tournaments' %>
    </div>

    <h3>manage users</h3>
    <% if @user.has_role?(:admin) %>
      <div id="users_panel" class="collapse-header">
        <%= render 'admincp_manage_users' %>
      </div>
    <% end %>

    <h3>manage teams</h3>
    <div id="teams_panel" class="collapse-header">
      <%= render 'admincp_manage_teams' %>
    </div>
  </div>

